/* Thread container and a few other tweaks */
.container-1Bj0eq {
  counter-reset: threads;
  background-color: var(--background-tertiary);
  border-radius: 7px;
  padding: 3px 4px 3px 4px;
  margin: 3px 2px 3px 10px;
}
.spine-29OFwR {
  display: none;
}
.typeThread-2Aqh6X .content-1gYQeQ {
  margin-left: unset;
}
/* Custom text */
.container-1Bj0eq .containerDefault-YUSmu3 {
  counter-increment: threads;
}
.container-1Bj0eq .containerDefault-YUSmu3::after {
  color: var(--channels-default);
  font-size: 14px;
  margin-left: 2px;
}
.container-1Bj0eq .containerDefault-YUSmu3:last-of-type::after {
  content: counter(threads) ' threads - hover to expand';
}
.container-1Bj0eq .containerDefault-YUSmu3:only-of-type::after {
  content: '1 thread - hover to expand';
}
.container-1Bj0eq .containerDefault-YUSmu3.selected-2TbFuo:only-of-type::after {
  content: none
}
/* Individual thread channels */
.container-1Bj0eq .containerDefault-YUSmu3:not(.selected-2TbFuo)>.typeThread-2Aqh6X {
  visibility: hidden;
  height: 0;
}
.container-1Bj0eq .containerDefault-YUSmu3 {
  height: 0;
}
/* Exceptions */
.container-1Bj0eq .containerDefault-YUSmu3.selected-2TbFuo, 
.container-1Bj0eq .containerDefault-YUSmu3:last-of-type {
  height: unset;
}
/* Changes on hover */
.container-1Bj0eq:hover .containerDefault-YUSmu3::after {
  content: none;
}
.container-1Bj0eq:hover .containerDefault-YUSmu3 {
  height: unset;
}
.container-1Bj0eq:hover .containerDefault-YUSmu3>.typeThread-2Aqh6X {
  visibility: unset;
  height: unset;
}