/* Thread container and a few other tweaks */
.container-3JKcAb {
  counter-reset: threads;
  background-color: var(--background-tertiary);
  border-radius: 7px;
  padding: 3px 4px 3px 4px;
  margin: 3px 2px 3px 10px;
}
.spine--Wla_O {
  display: none;
}
.typeThread-3ESTm- .content-1x5b-n {
  margin-left: unset;
}
/* Custom text */
.container-3JKcAb>.containerDefault--pIXnN {
  counter-increment: threads;
}
.container-3JKcAb>.containerDefault--pIXnN::after {
  color: var(--channels-default);
  font-size: 14px;
  margin-left: 2px;
}
.container-3JKcAb>.containerDefault--pIXnN:last-of-type::after {
  content: counter(threads) ' threads - hover to expand';
}
.container-3JKcAb>.containerDefault--pIXnN:only-of-type::after {
  content: '1 thread - hover to expand';
}
.container-3JKcAb>.containerDefault--pIXnN.selected-3LIHYU:only-of-type::after {
  content: none
}
/* Individual thread channels */
.container-3JKcAb>.containerDefault--pIXnN:not(.selected-3LIHYU)>.typeThread-3ESTm- {
  visibility: hidden;
  height: 0;
}
.container-3JKcAb>.containerDefault--pIXnN {
  height: 0;
}
/* Exceptions */
.container-3JKcAb>.containerDefault--pIXnN.selected-3LIHYU, 
.container-3JKcAb>.containerDefault--pIXnN:last-of-type {
  height: unset;
}
/* Changes on hover */
.container-3JKcAb:hover>.containerDefault--pIXnN::after {
  content: none;
}
.container-3JKcAb:hover>.containerDefault--pIXnN {
  height: unset;
}
.container-3JKcAb:hover>.containerDefault--pIXnN>.typeThread-3ESTm- {
  visibility: unset;
  height: unset;
}