.userPopout-xaxa6l .banner-2QYc2d {
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    background-size: calc(100% - 4px);
    background-position: center 2px;
    border-radius: 10px;
}
.userPopout-xaxa6l .banner-2QYc2d::after {
    content: '';
    display: block;
    background-color: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    height: 124px;
    clip-path: path("M 0 0 H 304 V 123 H 302 V 12 Q 302 2 292 2 H 12 Q 2 2 2 12 V 123 H 0 Z");
}
.headerTop-3vNv-a, .body-3HBlXn, .footer-3UKYOU {
    background-color: var(--background-floating) !important;
}
.avatarPositionNormal-aZjAsn {top: 16px;}
.avatarPositionNormal-aZjAsn+.headerTop-3vNv-a {padding-top: 119px;}
.avatarPositionPremium-3We5Ho+.headerTop-3vNv-a {margin-top: 119px;}
.avatarPositionNormal-aZjAsn+.headerTop-3vNv-a>.profileBadges-ohc0Vu {top: 75px;}

/* Optional: tall colored banners */
/*
.avatarPositionNormal-aZjAsn {top: 75px;}
.headerTop-3vNv-a {margin-top: 119px; padding-top: 64px !important;}
.avatarPositionNormal-aZjAsn+.headerTop-3vNv-a>.profileBadges-ohc0Vu {top: unset;}
*/