@font-face {
    font-family: "Whitney Regular";
    font-style: normal;
    font-weight: 300;
    src: url(/assets/aa547e7d321c25791de2252ee2294220.woff2) format("woff2");
}

@font-face {
    font-family: "Whitney Regular";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/b22a047b24393561750b742d8d88a48a.woff2) format("woff2");
}

@font-face {
    font-family: "Whitney Regular";
    font-style: normal;
    font-weight: 500;
    src: url(/assets/b63701648c7e5a9d6ad67a0866cf9ecd.woff2) format("woff2");
}

@font-face {
    font-family: "Whitney Regular";
    font-style: normal;
    font-weight: 600;
    src: url(/assets/10bf925aa3b5eea72cffce5ab37d6c49.woff2) format("woff2");
}

@font-face {
    font-family: "Whitney Regular";
    font-style: normal;
    font-weight: 700;
    src: url(/assets/3d0099ecfaf7718dad3fb6cb3c0ee650.woff2) format("woff2");
}

:root {
    --font-primary: "Whitney Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-korean: "Whitney Regular", "Apple SD Gothic Neo", "NanumBarunGothic", "\B9D1\C740   \ACE0\B515", "Malgun Gothic", Gulim, 굴림, Dotum, 돋움, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-japanese: "Whitney Regular", Hiragino Sans, "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku Gothic ProN", "\30E1\30A4\30EA\30AA", Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-chinese-simplified: "Whitney Regular", "Microsoft YaHei New", 微软雅黑, "Microsoft Yahei", "Microsoft JhengHei", 宋体, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-chinese-traditional: "Whitney Regular", "Microsoft JhengHei", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft YaHei", 微軟雅黑, 宋体, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
}