.container-2qVG6q {
  flex-direction: column;
  max-width: 600px;
  flex-grow: 1;
  padding-bottom: 40px;
  padding-left: 74px;
}
li.row-uezxzk {
  flex-direction: row;
}
.container-2qVG6q>div:last-child {
  width: 504px;
}
.bodyMedia-3ij3KY {
  width: 100%;
  margin-left: unset;
}
.thumbnailContainer-2XSRmY, .thumbnailContainer-2XSRmY img {
  max-height: 504px;
  width: 100% !important;
  height: auto !important;
  object-fit: contain;
  object-position: 0;
}
.left-r1N3TH>div:last-child {
  position: absolute;
  inset: auto 0 0;
}
.header-2W779F {
  padding-bottom: 0;
}
.headerText-3MQ6n4 .channelNameSpan-2CGJt7,
.message-1zs6Od .messageContent-1SOr75 {
  font-size: initial !important;
  font-weight: normal;
  font-family: var(--font-primary);
  margin: unset;
  color: var(--text-muted);
  height: max-content;
  white-space: break-spaces;
}
.message-1zs6Od .messageContent-1SOr75 .emoji {
  width: 18px;
}
.message-1zs6Od {
  max-height: unset;
}
.message-1zs6Od>span:first-child {
  position: absolute;
  top: 12px;
  font-size: 0;
}
.message-1zs6Od>span:first-child span {
  font-size: initial;
  color: var(--header-primary) !important;
}
.message-1zs6Od>span:first-child span::before {
  content: '';
  width: 48px;
  height: 48px;
  background: center/contain url("https://discord.com/assets/1f0bfc0865d324c2587920a7d80c609b.png");
  border-radius: 50%;
  position: absolute;
  transform: translateX(-62px);
}
.body-hCVwsC {
  padding-top: 18px;
}
.tags-2CaEuN .pill-3pRQlO {
  display: contents;
}
.tags-2CaEuN .pill-3pRQlO>div {
  font-size: initial;
  font-weight: normal;
  color: var(--text-link);
}
.tags-2CaEuN .pill-3pRQlO>div::before {
  content: "#";
  margin-left: 4px;
}
.footer-3dzxcR {
  height: 40px;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.footer-3dzxcR .reaction-102jx9 {
  display: contents;
}
.footer-3dzxcR :is(.bullet-3kDmK0, .reaction-102jx9 img, .messageCountText-J-9pag+div, .typingUsers-1rTfwm),
.newBadge-1LcB6t,
.tags-2CaEuN .pill-3pRQlO[aria-label] {
  display: none;
}
.footer-3dzxcR .reaction-102jx9 .reactionCount-SWXh9W::before {
  content: "❤";
  margin-right: 4px;
}
.reactionMe-2zhiyZ .reactionCount-SWXh9W {
  color: var(--status-danger) !important;
}
.messageCountBox-XEP63e:hover * {
  color: var(--interactive-hover);
}