mask[id^="svg-mask-avatar-status-round"] circle:last-of-type {
    cy: 15.625%;
}
mask[id^="svg-mask-avatar-status-mobile"] rect {
    y: 0%;
}
mask[id^="svg-mask-avatar-status-typing"] rect {
    y: -9.375%
}
.mask-1FEkla rect {
    y: 5.6%;
} 
.mask-1FEkla rect[mask*="status-online-mobile)"] {
    y: 7.3%;
}
:is(.avatar-6qzftW, .avatar-2MSPKk, .avatar-1EWyVD) .mask-1FEkla rect:not([mask*="status-online-mobile)"]) {
    y: 0% !important;
}
.mask-1FEkla .dots-1BwzZQ {
    transform: translateY(-69%)
}